public net.minecraft.client.gui.GuiGraphics blitTiledSprite(Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;IIIIIIIIIII)V
public net.minecraft.client.gui.GuiGraphics blitSprite(Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;IIIIIIIII)V

#SimpleBlockModel
public net.minecraft.client.renderer.block.model.BlockModel parentLocation # parentLocation
public net.minecraft.client.renderer.block.model.BlockModel bakeFace(Lnet/minecraft/client/renderer/block/model/BlockElement;Lnet/minecraft/client/renderer/block/model/BlockElementFace;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/core/Direction;Lnet/minecraft/client/resources/model/ModelState;Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/renderer/block/model/BakedQuad; # bakeFace
public net.minecraft.client.renderer.block.model.BlockModel$Deserializer parseTextureLocationOrReference(Lnet/minecraft/resources/ResourceLocation;Ljava/lang/String;)Lcom/mojang/datafixers/util/Either; # parseTextureLocationOrReference

#FaceBakery stuff
public net.minecraft.client.renderer.block.model.BlockModel FACE_BAKERY
public net.minecraft.client.renderer.block.model.FaceBakery makeVertices(Lnet/minecraft/client/renderer/block/model/BlockFaceUV;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/core/Direction;[FLcom/mojang/math/Transformation;Lnet/minecraft/client/renderer/block/model/BlockElementRotation;Z)[I # makeVertices
public net.minecraft.client.renderer.block.model.FaceBakery recalculateWinding([ILnet/minecraft/core/Direction;)V # recalculateWinding
public net.minecraft.client.renderer.block.model.FaceBakery setupShape(Lorg/joml/Vector3f;Lorg/joml/Vector3f;)[F # setupShape

#Models
public net.minecraft.client.resources.model.WeightedBakedModel wrapped # wrapped
public net.minecraft.client.resources.model.MultiPartBakedModel selectors # selectors
public net.minecraft.client.renderer.entity.LivingEntityRenderer layers

protected-f net.minecraft.world.entity.item.PrimedTnt owner

public net.minecraft.client.multiplayer.PlayerInfo createSkinLookup(Lcom/mojang/authlib/GameProfile;)Ljava/util/function/Supplier; # createSkinLookup

public net.minecraft.world.level.block.entity.BeaconBlockEntity levels # levels
public net.minecraft.world.level.block.DispenserBlock DISPENSER_REGISTRY # DISPENSER_REGISTRY

public net.minecraft.world.item.crafting.RecipeManager byName
public net.minecraft.world.item.crafting.RecipeManager recipes

#BlockModelGeneration
public net.minecraft.data.models.BlockModelGenerators$BlockEntityModelGenerator
public net.minecraft.data.models.BlockModelGenerators createSimpleBlock(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/data/models/blockstates/MultiVariantGenerator; # createSimpleBlock
public net.minecraft.data.models.BlockModelGenerators createNonTemplateModelBlock(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/block/Block;)V # createNonTemplateModelBlock
public net.minecraft.data.models.BlockModelGenerators createNonTemplateModelBlock(Lnet/minecraft/world/level/block/Block;)V # createNonTemplateModelBlock
public net.minecraft.data.models.BlockModelGenerators blockEntityModels(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/world/level/block/Block;)Lnet/minecraft/data/models/BlockModelGenerators$BlockEntityModelGenerator; # blockEntityModels
public net.minecraft.data.models.BlockModelGenerators blockEntityModels(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/block/Block;)Lnet/minecraft/data/models/BlockModelGenerators$BlockEntityModelGenerator; # blockEntityModels
public net.minecraft.data.models.model.ModelTemplates create(Ljava/lang/String;[Lnet/minecraft/data/models/model/TextureSlot;)Lnet/minecraft/data/models/model/ModelTemplate; # create
public net.minecraft.data.models.BlockModelGenerators delegateItemModel(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.data.models.BlockModelGenerators family(Lnet/minecraft/world/level/block/Block;)Lnet/minecraft/data/models/BlockModelGenerators$BlockFamilyProvider; # family
public net.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider
public net.minecraft.data.models.BlockModelGenerators$TintState

#Loot
public-f net.minecraft.world.level.storage.loot.LootTable pools
public-f net.minecraft.world.level.storage.loot.LootPool entries
public-f net.minecraft.world.level.storage.loot.entries.LootItem item
public-f net.minecraft.world.level.storage.loot.entries.CompositeEntryBase children
public-f net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer weight # weight
public-f net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer quality # quality
public-f net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer functions # functions
public net.minecraft.world.level.storage.loot.functions.SetItemCountFunction value # value
public-f net.minecraft.world.level.storage.loot.LootContext params
public-f net.minecraft.world.level.storage.loot.LootParams params
public-f net.minecraft.world.level.storage.loot.LootParams dynamicDrops

public net.minecraft.client.Minecraft clientTickCount
public net.minecraft.world.item.context.BlockPlaceContext replaceClicked # replaceClicked
public net.minecraft.world.level.levelgen.structure.TemplateStructurePiece placeSettings # placeSettings

public net.minecraft.client.gui.screens.Screen children # children
public net.minecraft.client.gui.screens.Screen narratables # narratables


#Entities
protected net.minecraft.world.entity.animal.Sheep getOffspringColor(Lnet/minecraft/world/entity/animal/Animal;Lnet/minecraft/world/entity/animal/Animal;)Lnet/minecraft/world/item/DyeColor; # getOffspringColor
public net.minecraft.world.entity.animal.horse.AbstractHorse FOOD_ITEMS # FOOD_ITEMS
public net.minecraft.world.entity.LivingEntity noJumpDelay

#BlockEntities
public net.minecraft.world.level.block.entity.ChestBlockEntity items # items
public net.minecraft.world.level.block.entity.ShulkerBoxBlockEntity getItems()Lnet/minecraft/core/NonNullList; # getItems# items

#ItemStack
public net.minecraft.world.item.ItemStack getHideFlags()I # getHideFlags
public net.minecraft.world.item.ItemStack shouldShowInTooltip(ILnet/minecraft/world/item/ItemStack$TooltipPart;)Z # shouldShowInTooltip