public net.minecraft.client.gui.GuiGraphics blitTiledSprite(Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;IIIIIIIIIII)V
public net.minecraft.client.gui.GuiGraphics blitSprite(Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;IIIIIIIII)V

#SimpleBlockModel
public net.minecraft.client.renderer.block.model.BlockModel parentLocation # parentLocation
public net.minecraft.client.renderer.block.model.BlockModel bakeFace(Lnet/minecraft/client/renderer/block/model/BlockElement;Lnet/minecraft/client/renderer/block/model/BlockElementFace;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/core/Direction;Lnet/minecraft/client/resources/model/ModelState;Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/renderer/block/model/BakedQuad; # bakeFace
public net.minecraft.client.renderer.block.model.BlockModel$Deserializer parseTextureLocationOrReference(Lnet/minecraft/resources/ResourceLocation;Ljava/lang/String;)Lcom/mojang/datafixers/util/Either; # parseTextureLocationOrReference

#FaceBakery stuff
public net.minecraft.client.renderer.block.model.BlockModel FACE_BAKERY
public net.minecraft.client.renderer.block.model.FaceBakery makeVertices(Lnet/minecraft/client/renderer/block/model/BlockFaceUV;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/core/Direction;[FLcom/mojang/math/Transformation;Lnet/minecraft/client/renderer/block/model/BlockElementRotation;Z)[I # makeVertices
public net.minecraft.client.renderer.block.model.FaceBakery recalculateWinding([ILnet/minecraft/core/Direction;)V # recalculateWinding
public net.minecraft.client.renderer.block.model.FaceBakery setupShape(Lorg/joml/Vector3f;Lorg/joml/Vector3f;)[F # setupShape

#Models
public net.minecraft.client.resources.model.WeightedBakedModel wrapped # wrapped
public net.minecraft.client.resources.model.MultiPartBakedModel selectors # selectors
